.gameplay input {
    margin-top: 4rem;
    max-width: 74dvw;
    outline: none;
    border: none;
    font-size: 1.5rem;
    background: none;
    color: #fcfcfb;
    border-bottom: 1px solid #fcfcfb;
}

.viewport {
    padding: 2em;
    margin: 1em 0 3rem 0;
    max-width: 74dvw;
    word-wrap: break-word;
    font-size: 1rem;
    color: #fcfcfb;
    text-align: center;
    border: 2px solid gray;
}